@model List<Data.Entities.AuthorEntity>

<h2>Authors</h2>

<p>
    <a asp-action="Create" class="btndet btndet-add">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Id</td>
                <td>@author.Name</td>
                <td>@author.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@author.Id" class="btndet btndet-info">Details</a>
                    <a asp-action="Update" asp-route-id="@author.Id" class="btndet btndet-up">Update</a>
                    <a asp-action="Delete" asp-route-id="@author.Id" class="btndet btndet-del">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
