@model List<Data.Entities.PhotoEntity>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Photo Index</h2>

<p>
    <a asp-action="Create" class="btndet btndet-add">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>PhotoId</th>
            <th>Camera</th>
            <th>Description</th>
            <th>Resolution</th>
            <th>Created Date</th>
            <th>Format</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var photo in Model)
        {
            <tr>
                <td>@photo.PhotoId</td>
                <td>@photo.Camera</td>
                <td>@photo.Description</td>
                <td>@photo.Resolution</td>
                <td>@photo.CreatedDate.ToShortDateString()</td>
                <td>@photo.Format</td>
                <td>@photo.Author.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@photo.PhotoId" class="btndet btndet-info">Details</a>
                    <a asp-action="Update" asp-route-id="@photo.PhotoId" class="btndet btndet-up">Update</a>
                    <a asp-action="Delete" asp-route-id="@photo.PhotoId" class="btndet btndet-del">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>