@model List<Data.Entities.AddressEntity>

<h2>Address Index</h2>

<p>
    <a asp-action="Create" class="btndet btndet-add">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>City</th>
            <th>Street</th>
            <th>Postal Code</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var address in Model)
        {
            <tr>
                <td>@address.Id</td>
                <td>@address.City</td>
                <td>@address.Street</td>
                <td>@address.PostalCode</td>
                <td>
                    <a asp-action="Update" asp-route-id="@address.Id" class="btndet btndet-up">Update</a>
                    <a asp-action="Delete" asp-route-id="@address.Id" class="btndet btndet-del">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
